nav {
background-color: #a9a9a9;
	
  	
}

footer
 {
background-color: #a9a9a9;
text-align:center;
}

#menu ul{
		list-style: none;
		margin: 0;
		padding: 0;		
		text-align:right;
}

#menu ul li{
		display: inline-block;
		text-align: left;
}


#menu ul li a{
			color: white;
			display: block;
			padding: 1em 1em;
			text-decoration: none;
			  
}

#menu ul li a:hover{
			background-color: #e1ab0e;
}	

#caja{
	position: relative;
	width: 60vw;
	height: auto;
	margin: 0 20vw 0 20vw;
}
